<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item *ngFor="let pokemon of pokemons; let index = index">
      <ion-thumbnail slot="start">
        <img [alt]="pokemon.name.fr" [src]="pokemon.sprites.regular" />
      </ion-thumbnail>
      <ion-label>
        {{ pokemon.pokedexId }}
        {{ pokemon.name.fr }}
      </ion-label>
      <ion-thumbnail class="pokemon-types-img" slot="end">
        <img *ngFor="let type of pokemon.types" class="pokemon-type-img" [alt]="type.name" [src]="type.image" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>

</ion-content>
