<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{ title }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item *ngFor="let pokemon of allPokemons; let index = index">
      <!--       <ion-thumbnail slot="start">
        <img [alt]="pokemon.name.fr" [src]="pokemon.sprites.regular" />
      </ion-thumbnail> -->
      <ion-label> {{ pokemon.name }} </ion-label>
      <!--       <ion-thumbnail class="pokemon-types-img" slot="end">
        <img *ngFor="let type of pokemon.types" class="pokemon-type-img" [alt]="type.name" [src]="type.image" />
      </ion-thumbnail> -->
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-row class="pagination-container ion-padding-top">
      <ng-container *ngFor="let page of pages; let index = index">
        <ion-col
          class="ion-justify-content-center ion-align-items-center dots-col"
          *ngIf="areFirstPageDotsShown(index + 1)"
        >
          ...
        </ion-col>
        <ion-col
          *ngIf="isPageButtonShown(index + 1)"
          class="ion-justify-content-center"
        >
          <ion-button
            [disabled]="index + 1 === currentPage"
            (click)="goToPage(index + 1)"
            >{{ index + 1 }}</ion-button
          >
        </ion-col>
        <ion-col
          class="ion-justify-content-center ion-align-items-center dots-col"
          *ngIf="areLastPageDotsShown(index + 1)"
        >
          ...
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->

<ion-footer>
  <ion-toolbar>
    <app-pagination [currentPage]="currentPage" [nbTotalElements]="nbTotalElements" [nbElementsPerPage]="nbPokemonsPerPage" ></app-pagination>
<!--     <div class="all-pagination-container ion-padding-top">
      <div
        *ngFor="let page of pages; let index = index"
        class="ion-justify-content-center"
      >
        <ion-button
          [disabled]="index + 1 === currentPage"
          (click)="goToPage(index + 1)"
          >{{ index + 1 }}</ion-button
        >
      </div>
    </div> -->
  </ion-toolbar>
</ion-footer>
