.pagination-container {
  padding-top: 8px;
  padding-bottom: 8px;

  ion-col {
    display: flex;

    &.dots-col {
      padding-bottom: 15px;
    }
  }
}

.all-pagination-container {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  overflow-x: scroll;
}
