<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showSearchBar">
    <ion-searchbar (ionInput)="onSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="ion-text-center">{{ paginationService.params.currentPage }}</h1>

  <ion-list lines="full">
    <ion-item *ngFor="let pokemon of pokemons; let index = index" (click)="goToPokemonPage(pokemon.name.fr)">
      <ion-thumbnail slot="start">
        <img [alt]="pokemon.name.fr" [src]="pokemon.sprites.regular" />
      </ion-thumbnail>
      <ion-label>
        {{ pokemon.pokedexId }}
        {{ pokemon.name.fr }}
      </ion-label>
      <ion-thumbnail class="pokemon-types-img" slot="end">
        <img *ngFor="let type of pokemon.types" class="pokemon-type-img" [alt]="type.name" [src]="type.image" />
      </ion-thumbnail>
    </ion-item>
  </ion-list>

</ion-content>
